html {
  font-size: 10px;
  background: #3730a3;
}
:root {
  --max-width: 1440px;
  --blue: #3730a3;
  --gray-h:  #374151;
  --gray-text:  #6B7280;
  --gray-text-section-footer: #9CA3AF;
  --black-h : #1F2937;
  --btn-hover: rgb(166, 196, 215);
  --footer: #FEF2F2;
  --white: white;
  --black: black;
}
body, ul, li {
  font-family: 'Inter', sans-serif;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0;
  background-color: var(--white, white);
}
a {
  text-decoration: none;
}
/* Header */
.header {
  display: flex;
  justify-content: space-between;
  padding: 9rem 13rem;
}
.nav__ {
  display: flex;
  justify-content: space-between;
  width: 50%;
}
ul {
  list-style: none;
}
ul.nav {
  display: flex;
  justify-content: space-between;
  width: 55%;
  align-items: center;
  align-self: center;
}
li {
  font-size: 1.8rem;
  font-weight: 500;
  color: var(--gray-text, #6B7280);
}
.nav>item>a {
  font-style: 1.8rem;
  text-decoration: none;
  color: var(--gray-text, #6B7280);
}
.nav-btn {
  display: inline-block;
  color: var(--blue, #3730a3);
  border: 1px solid var(--blue, #3730a3);
  font-size: 1.8rem;
  font-weight: 500;
  padding: 1.2rem 3.2rem;
  border-radius: .6rem;
  justify-content: center;
  align-items: center;
  align-self: center;
}
/* Натискання кнопки */
a:hover {
  color:var(--btn-hover, rgb(166, 196, 215));
}
a:active {
  position: relative;
  top: .3rem;
}
/* Main */
/* Section_1 */
.section__1 {
  padding: 9.5rem 13rem;
}
.banner {
  display: flex;
  justify-content: space-between;
}
.avatar {
  padding: 0;
}
.line {
  display: inline-block;
  position: relative;
  top: -.7rem;
  padding-right: 1rem;
}
.banner-title>p:first-child {
  font-weight: 500;
  font-size: 2rem;
  line-height: 2.8rem;
  color: var(--blue, #3730a3);
  padding-top: 1.6rem;
}
.title {
  font-weight: 700;
  font-size: 7.2rem;
  line-height: 7.2rem;
  color: var(--black-h, #1F2937);
  padding-top: 1rem;
}
.banner-text {
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 2.8rem;
  color: var(--gray-text, #6B7280);
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.btn {
  text-align: center;
  align-self: center;
  padding: 1.2rem 3.2rem;
}
.btn_left {
  width: 13.1rem;
  background: var(--blue, #3730a3);
  border-radius: 0.6rem;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 2.8rem;
  color: var(--white, #FFFFFF) ;
}
.btn_right {
  width: 15.7rem;
  margin-left: 2rem;
  top: 73.4rem;
  background: var(--white, white);
  border: 1px solid var(--blue, #3730a3);
  border-radius: 0.6rem;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 2.8rem;
  color: var(--blue, #3730A3);
}
.line_2 {
  display: inline-block;
  position: relative;
  margin-top: 2rem;
  background: var(--gray-text, #6B7280);
  border: 1px solid #E5E7EB;
}
.litle-text {
  font-weight: 400; 
  font-size: 1.2rem;
  line-height: 1.6rem;
  padding-top: 0.8rem;
  color: var(--gray-text, #6B7280 );
}
.title_2 {
  padding-top: 19rem;
  padding-bottom: 15rem;
  font-weight: 600;
  font-size: 4.8rem;
  line-height: 4.8rem;
  text-align: center;
  color: var(--black-h , #1F2937);
  text-align: center;
  text-shadow: 0 0.3rem .3rem var(--gray-text);
}
.title_2>span {
  color: var(--blue, #3730A3);
}
.cards__img {
  display: flex;
  justify-content: space-between; 
}
.cards_img {
  display: flex;
  height: 62.2rem;
  width: 37%;
  padding-right: 1rem;
}
.cards_left {
  width: 25%;
  height: 100%;
  margin: 0;
}
.cards_right {
  width: 25%;
  height: 100%;
  margin: 0;
}
.cards {
  display: flex;
  justify-content: flex-end;
  background: rgb(48, 108, 172);
}
.card-title {
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 2.8rem;
  color: var(--black-h , #1F2937);
  padding-top: 2rem;
  padding-bottom: 1.5rem;
  text-shadow: 0 .2rem .3rem var(--gray-text);
}
.card-text {
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.6rem;
  color: var(--gray-text, #6B7280);
  padding-bottom: 2rem;
  text-shadow: 0 .2rem .3rem var(--gray-text);
}
.card_a {
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 1.6rem;
  color: var(--blue, #3730A3);
  text-shadow: 0 .2rem .3rem var(--gray-text);
}
.ar {
  display: inline;
  background-color: rgb(167, 167, 184);;
}
.ar_img {
  position:absolute;
}
/* Section_2 */
.section__2 {
  background-color: var(--footer, #9CA3AF);
  padding: 10rem 13rem;
}
.section_2-title {
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.8rem;
  margin: 0 0 2rem 0;
  color: var(--gray-text-section-footer, #9CA3AF) ;
}
.icons {
  display: flex;
  justify-content: space-between;
}

/* Section_3 */
/* Image */
.section__3 {
  padding: 15rem 13rem;
}
.section_3-title {
  font-weight: 600;
  font-size: 4.8rem;
  line-height: 4.8rem;
  text-align: center;
  color: var(--black-h, #1F2937) ;
}
.section_3-imds_2 {
  display: flex;
  justify-content: space-between;
}
.img_3_1 {
  padding-top: 2.8rem;
}
.img_2_0_text {
  position: relative;
  margin: 0;
}
.pj {
  display: block;
  bottom: 2rem;
  left: 2rem;
  right: 2rem;
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 44.1rem;
  border: .5px solid var(--black);
  background-color: var(--white, white) ;
  margin: 0;
  z-index: 99;
  padding: 2.3rem 2.7rem;
}
.pj_title {
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 2.8rem;
  color: var(--black-h, #1F2937);
  padding: 0;
  margin: 0;
}
.pj_text {
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 2rem;
  color: var(--gray-text-section-footer, #9CA3AF) ;
  margin: 0;
  padding: 0;
}
.pj_a {
  padding-top: 1rem;
}
.img_1_0 {
  padding-top: 3rem;
}
/* Card_SVG */
.cards_svg {
  display: flex;
  justify-content: space-between;
}
.card_svg {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.img_svg {
  width: 14rem;
  height: 14rem;
  margin: 15rem auto 0;
}
.title_svg {
  font-weight: 600;
  font-size: 3rem;
  line-height: 3.6rem;
  text-align: center;
  color:var(--gray-h, #374151) ;
  margin: 4rem 0 2rem;
}
.text_svg {
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 2.8rem;
  text-align: center;
  color: var(--gray-text-section-footer) #9CA3AF;
  margin: 0;
}
/* Carrers */
.carrers_title {
  font-weight: 600;
  font-size: 4.8rem;
  line-height: 4.8rem;
  text-align: center;
  color: var(--black-h, #1F2937) ;
  margin: 15rem 0;
}
.carrers_cards {
  display: flex;
  justify-content: space-between;
  max-width: 100%;
}
.carrer_card {
  width: 30rem;
}
.carrer_card.center {
  text-align: center;
}
.carrer_title {
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: var(--gray-text, #6B7280) ;
  margin: 0;
}
.carrer_text {
  font-weight: 400;
font-size: 1.6rem;
line-height: 2.4rem;
color: var(--gray-text, #6B7280) ;
margin: 0;
padding-top: 8rem;
}
.carrer_text_b {
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: var(--black-h, #1F2937) ;
  margin: 0;
}

/* Footer */
footer {
  background-color: var(--footer, #9CA3AF);
  padding: 11rem 13rem;
}
.footer_title {
  font-weight: 500;
  font-size: 4.8rem;
  line-height: 4.8rem;
  text-align: center;
  color:var(--gray-h, #374151);
  margin: 0;
}
.footer_text {
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 2.8rem;
  text-align: center;
  color:var(--gray-text-section-footer, #9CA3AF) ;
  margin: 0;
  padding: 2rem 0 10rem;
}
.footer_ikon {
  display: flex;
  justify-content: space-between;
  width: 46rem;
  margin:auto;
}


